/**
 * Color Variables
 */
/**
 * CSS Value Variables
 */
/**
 * Global Styles
 */
body {
  background: #cbcbcb url("/assets/img/background.png") fixed;
  font-family: 'Helvetica Neue', 'Segoe UI', 'Arial', 'Helvetica', sans-serif;
  padding: 0 0 0 63px;
  transition: all .3s; }
  body.add-padding {
    padding: 0 0 0 250px; }

div {
  font-family: 'Helvetica Neue', 'Segoe UI', 'Arial', 'Helvetica', sans-serif; }

.site-content .row {
  max-width: none; }

.site-content hr {
  margin: 0 -30px 15px; }

.site-content h1,
.site-content h2,
.site-content h3,
.site-content h4,
.site-content h5,
.site-content h6 {
  font-size: 32px;
  font-weight: 300;
  line-height: 1;
  margin: 0 0 15px;
  letter-spacing: 2px; }

.site-content p,
.site-content li,
.site-content a,
.site-content label {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px; }

.site-content .align-center {
  text-align: center; }

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px; }

/* Track */
::-webkit-scrollbar-track {
  background: #6b6b6b;
  border: 2px solid #FFF;
  border-radius: 4px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0E690F;
  border: 2px solid #FFF;
  border-radius: 4px; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #3b3b3b; }

/* Corner Styles */
::-webkit-scrollbar-corner {
  background: #FFF; }

/**
 * Imports
 */
.current-campaigns {
  margin: 0;
  padding: 0; }
  .current-campaigns ul {
    list-style: none;
    margin: -15px 0 15px; }
    .current-campaigns ul li {
      padding: 10px 15px;
      margin: 0 -15px;
      background: #ECEDEE;
      border-bottom: 1px solid #cbcbcb; }
      .current-campaigns ul li .actions,
      .current-campaigns ul li .tags {
        float: right; }
        .current-campaigns ul li .actions label,
        .current-campaigns ul li .tags label {
          display: inline;
          font-size: 14px;
          line-height: 28px;
          text-transform: uppercase; }
      .current-campaigns ul li .action {
        margin-left: 10px;
        float: right;
        background: #0E690F;
        color: #FFF;
        text-transform: uppercase;
        border-radius: 4px;
        font-weight: 300;
        font-size: 14px;
        padding: 3px 7px;
        transition: all .3s; }
        .current-campaigns ul li .action:hover {
          background: #FFF;
          color: #0E690F; }
      .current-campaigns ul li .tag {
        margin-left: 10px;
        float: right;
        background: #C9FFBD;
        color: #0E690F;
        text-transform: uppercase;
        border-radius: 4px;
        font-weight: 300;
        font-size: 14px;
        padding: 3px 7px;
        transition: all .3s; }
      .current-campaigns ul li .divider {
        height: 28px;
        width: 1px;
        displaY: block;
        float: right;
        background: #cbcbcb;
        margin: 0 10px; }
      .current-campaigns ul li:nth-child(even) {
        background: #FFF; }

.current-worksheets {
  margin: 0;
  padding: 0; }
  .current-worksheets ul {
    list-style: none;
    margin: -15px 0 15px; }
    .current-worksheets ul li .identifier-bar {
      padding: 10px 15px;
      margin: 0 -15px;
      background: #ECEDEE;
      border-bottom: 1px solid #cbcbcb; }
    .current-worksheets ul li .worksheet-name {
      position: relative;
      top: 3px;
      text-transform: uppercase;
      font-size: 24px;
      margin: 0;
      display: inline-block;
      line-height: 19px; }
    .current-worksheets ul li .week-information {
      border-bottom: 1px solid #cbcbcb;
      margin: 0 -15px;
      padding: 15px; }
      .current-worksheets ul li .week-information .week-title {
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase; }
      .current-worksheets ul li .week-information .sub-title {
        font-size: 16px;
        text-transform: uppercase; }
      .current-worksheets ul li .week-information .info-inner {
        position: relative;
        background: #ECEDEE;
        border-radius: 4px;
        border: 1px solid #cbcbcb;
        overflow: hidden; }
        .current-worksheets ul li .week-information .info-inner.loading:before {
          content: 'Sending Save Request';
          position: absolute;
          top: 15%;
          left: 15%;
          padding: 4%;
          width: 66%;
          height: 66%;
          display: block;
          text-align: center;
          background: rgba(0, 0, 0, 0.35);
          color: #FFF;
          z-index: 99999;
          font-size: 32px;
          text-transform: uppercase;
          border-radius: 4px;
          box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.35); }
        .current-worksheets ul li .week-information .info-inner.success:before {
          content: 'Save Successful';
          position: absolute;
          top: 15%;
          left: 15%;
          padding: 4%;
          width: 66%;
          height: 66%;
          text-align: center;
          display: block;
          background: rgba(201, 255, 189, 0.56);
          color: #000;
          z-index: 99999;
          font-size: 32px;
          text-transform: uppercase;
          border-radius: 4px;
          box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.35); }
        .current-worksheets ul li .week-information .info-inner.failure:before {
          content: 'Save Failed';
          position: absolute;
          top: 15%;
          left: 15%;
          padding: 4%;
          width: 66%;
          height: 66%;
          text-align: center;
          display: block;
          background: #FFC9BD;
          color: #000;
          z-index: 99999;
          font-size: 32px;
          text-transform: uppercase;
          border-radius: 4px;
          box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.35); }
        .current-worksheets ul li .week-information .info-inner .outer-scrollable {
          overflow-x: scroll; }
        .current-worksheets ul li .week-information .info-inner .spot-count {
          border-right: 1px solid #cbcbcb;
          width: 240px !important; }
        .current-worksheets ul li .week-information .info-inner .spot-column {
          float: left;
          width: 100px;
          padding: 10px; }
          .current-worksheets ul li .week-information .info-inner .spot-column .spot-count-heading {
            background: #C9FFBD;
            text-align: center;
            margin: -10px -10px 10px;
            padding: 10px; }
          .current-worksheets ul li .week-information .info-inner .spot-column .spot-date-heading {
            background: rgba(0, 0, 0, 0.35);
            color: #FFF;
            text-align: center;
            margin: -10px -10px 10px;
            padding: 10px; }
          .current-worksheets ul li .week-information .info-inner .spot-column:nth-child(even) {
            background: #cbcbcb; }
          .current-worksheets ul li .week-information .info-inner .spot-column .update-week-information {
            padding: 5px;
            margin-top: 10px; }
          .current-worksheets ul li .week-information .info-inner .spot-column .week-total {
            text-align: center;
            font-size: 14px;
            text-transform: uppercase;
            margin-top: 5px; }
        .current-worksheets ul li .week-information .info-inner .spot-date-total .spot-info-wrapper {
          position: relative;
          text-align: left;
          line-height: 1.25;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 300;
          color: #6b6b6b;
          margin: 5px 0 0;
          padding: 10px;
          border-radius: 4px;
          border: 1px solid #cbcbcb;
          background: #FFF; }
          .current-worksheets ul li .week-information .info-inner .spot-date-total .spot-info-wrapper strong {
            min-width: 75px;
            display: inline-block; }
          .current-worksheets ul li .week-information .info-inner .spot-date-total .spot-info-wrapper span {
            font-weight: 800;
            color: #000; }
            .current-worksheets ul li .week-information .info-inner .spot-date-total .spot-info-wrapper span.days {
              font-weight: 300;
              letter-spacing: 0;
              text-transform: capitalize;
              color: #6b6b6b; }
            .current-worksheets ul li .week-information .info-inner .spot-date-total .spot-info-wrapper span.extra-detail {
              font-weight: 300; }
          .current-worksheets ul li .week-information .info-inner .spot-date-total .spot-info-wrapper .detail-wrapper {
            display: none;
            margin-bottom: 10px; }
          .current-worksheets ul li .week-information .info-inner .spot-date-total .spot-info-wrapper .extra-detail-expander {
            position: absolute;
            bottom: 10px;
            right: 10px;
            cursor: pointer;
            height: 15px;
            width: 20px;
            text-align: center;
            line-height: 14px;
            background: #cbcbcb;
            border-radius: 4px;
            letter-spacing: 0px;
            transition: all .3s; }
            .current-worksheets ul li .week-information .info-inner .spot-date-total .spot-info-wrapper .extra-detail-expander.rotated {
              transform: rotate(180deg); }
        .current-worksheets ul li .week-information .info-inner .spot-date-input input {
          background: #C9FFBD;
          text-align: center;
          color: #000;
          height: auto;
          line-height: 19px;
          font-size: 16px; }
        .current-worksheets ul li .week-information .info-inner .spot-date-input:last-child {
          padding-bottom: 27px; }
    .current-worksheets ul li .actions,
    .current-worksheets ul li .tags {
      float: right; }
      .current-worksheets ul li .actions label,
      .current-worksheets ul li .tags label {
        display: inline;
        font-size: 14px;
        line-height: 28px;
        text-transform: uppercase; }
    .current-worksheets ul li .action {
      margin-left: 10px;
      float: right;
      background: #0E690F;
      color: #FFF;
      text-transform: uppercase;
      border-radius: 4px;
      font-weight: 300;
      font-size: 14px;
      padding: 3px 7px;
      transition: all .3s; }
      .current-worksheets ul li .action:hover {
        background: #FFF;
        color: #0E690F; }
    .current-worksheets ul li .tag {
      margin-left: 10px;
      float: right;
      background: #C9FFBD;
      color: #0E690F;
      text-transform: uppercase;
      border-radius: 4px;
      font-weight: 300;
      font-size: 14px;
      padding: 3px 7px;
      transition: all .3s; }
    .current-worksheets ul li .divider {
      height: 28px;
      width: 1px;
      displaY: block;
      float: right;
      background: #cbcbcb;
      margin: 0 10px; }

.current-programs {
  margin: 0;
  padding: 0; }
  .current-programs ul {
    list-style: none;
    margin: -15px 0 15px; }
    .current-programs ul li {
      padding: 10px 15px;
      margin: 0 -15px;
      background: #ECEDEE;
      border-bottom: 1px solid #cbcbcb;
      overflow: hidden; }
      .current-programs ul li .actions,
      .current-programs ul li .tags {
        float: right; }
        .current-programs ul li .actions label,
        .current-programs ul li .tags label {
          display: inline;
          font-size: 14px;
          line-height: 28px;
          text-transform: uppercase; }
      .current-programs ul li .action {
        margin-left: 10px !important;
        float: right;
        background: #0E690F;
        color: #FFF;
        text-transform: uppercase;
        border-radius: 4px;
        font-weight: 300;
        font-size: 14px;
        padding: 3px 7px;
        transition: all .3s; }
        .current-programs ul li .action:hover {
          background: #FFF;
          color: #0E690F; }
      .current-programs ul li .tag {
        margin-left: 10px;
        float: right;
        background: #C9FFBD;
        color: #0E690F;
        text-transform: uppercase;
        border-radius: 4px;
        font-weight: 300;
        font-size: 14px;
        padding: 3px 7px;
        transition: all .3s; }
      .current-programs ul li .divider {
        height: 28px;
        width: 1px;
        displaY: block;
        float: right;
        background: #cbcbcb;
        margin: 2px 0 0 !important; }
      .current-programs ul li:nth-child(even) {
        background: #FFF; }
      .current-programs ul li .info {
        margin-bottom: 15px;
        overflow: hidden;
        float: left; }
        .current-programs ul li .info span {
          font-size: 14px;
          letter-spacing: 0;
          color: #000; }
          .current-programs ul li .info span.program-name {
            text-transform: uppercase;
            float: left;
            padding: 5px 0;
            display: block;
            line-height: 1;
            margin: 5px 0 0 0;
            min-width: 150px; }
          .current-programs ul li .info span.day-part {
            min-width: 90px; }
          .current-programs ul li .info span.station {
            min-width: 74px; }
          .current-programs ul li .info span.network {
            min-width: 80px; }
          .current-programs ul li .info span.program {
            min-width: 90px; }
          .current-programs ul li .info span.times {
            min-width: 190px; }
          .current-programs ul li .info span.length {
            min-width: 80px; }
          .current-programs ul li .info span.rate {
            min-width: 100px; }
          .current-programs ul li .info span.day-part, .current-programs ul li .info span.station, .current-programs ul li .info span.network, .current-programs ul li .info span.program, .current-programs ul li .info span.times, .current-programs ul li .info span.length, .current-programs ul li .info span.rate {
            text-align: center;
            float: right;
            background: #C9FFBD;
            color: #000;
            padding: 5px 7px;
            display: block;
            line-height: 1;
            margin: 5px 0 0 10px;
            border-radius: 4px; }
            .current-programs ul li .info span.day-part .divider, .current-programs ul li .info span.station .divider, .current-programs ul li .info span.network .divider, .current-programs ul li .info span.program .divider, .current-programs ul li .info span.times .divider, .current-programs ul li .info span.length .divider, .current-programs ul li .info span.rate .divider {
              height: 10px;
              width: 1px;
              displaY: inline-block;
              float: none;
              background: #0E690F;
              margin: 0; }
            .current-programs ul li .info span.day-part span, .current-programs ul li .info span.station span, .current-programs ul li .info span.network span, .current-programs ul li .info span.program span, .current-programs ul li .info span.times span, .current-programs ul li .info span.length span, .current-programs ul li .info span.rate span {
              color: #000; }
      .current-programs ul li .actions {
        float: right; }
        .current-programs ul li .actions .divider {
          margin: 2px 10px; }
        .current-programs ul li .actions .button {
          margin: 5px 0; }
      .current-programs ul li .comments {
        background: #C9FFBD;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 5px;
        clear: both; }
        .current-programs ul li .comments .comments-title {
          text-transform: uppercase;
          font-size: 24px;
          color: #000; }
        .current-programs ul li .comments p {
          margin: 0;
          color: #0E690F;
          font-size: 14px; }
      .current-programs ul li.headings {
        background: #C9FFBD; }
        .current-programs ul li.headings .info {
          margin-bottom: 0;
          overflow: hidden; }
          .current-programs ul li.headings .info span {
            margin: 0 0 0 10px; }
            .current-programs ul li.headings .info span.program-name {
              text-transform: uppercase;
              float: left;
              padding: 5px 0;
              display: block;
              line-height: 1;
              margin: 0; }
            .current-programs ul li.headings .info span.day-part, .current-programs ul li.headings .info span.station, .current-programs ul li.headings .info span.network, .current-programs ul li.headings .info span.program, .current-programs ul li.headings .info span.times, .current-programs ul li.headings .info span.length, .current-programs ul li.headings .info span.rate {
              background: #FFF;
              color: #0E690F; }
              .current-programs ul li.headings .info span.day-part .divider, .current-programs ul li.headings .info span.station .divider, .current-programs ul li.headings .info span.network .divider, .current-programs ul li.headings .info span.program .divider, .current-programs ul li.headings .info span.times .divider, .current-programs ul li.headings .info span.length .divider, .current-programs ul li.headings .info span.rate .divider {
                height: 10px;
                width: 1px;
                displaY: inline-block;
                float: none;
                background: #0E690F;
                margin: 0; }
              .current-programs ul li.headings .info span.day-part span, .current-programs ul li.headings .info span.station span, .current-programs ul li.headings .info span.network span, .current-programs ul li.headings .info span.program span, .current-programs ul li.headings .info span.times span, .current-programs ul li.headings .info span.length span, .current-programs ul li.headings .info span.rate span {
                color: #0E690F;
                margin: 0; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: none; }
  .overlay .form-wrapper {
    max-width: 1000px;
    margin: 60px auto;
    padding: 15px 0;
    background: #FFF;
    border-radius: 4px;
    overflow: hidden; }
    .overlay .form-wrapper .form-title {
      position: relative;
      text-align: center;
      font-size: 24px;
      background: #0E690F;
      padding: 10px;
      text-transform: uppercase;
      color: #FFF;
      font-weight: 300;
      line-height: 1;
      margin: -15px 0 15px;
      letter-spacing: 2px; }
      .overlay .form-wrapper .form-title .close {
        position: absolute;
        top: 7px;
        right: 10px;
        cursor: pointer;
        opacity: 1;
        transition: all .3s; }
        .overlay .form-wrapper .form-title .close:hover {
          opacity: .5; }
  .overlay form.campaign-form.successful, .overlay form.organization-form.successful, .overlay form.spot-type-form.successful, .overlay form.region-form.successful {
    position: relative; }
    .overlay form.campaign-form.successful:before, .overlay form.organization-form.successful:before, .overlay form.spot-type-form.successful:before, .overlay form.region-form.successful:before {
      content: 'Save Successful';
      position: absolute;
      top: 15%;
      left: 15%;
      padding: 6%;
      width: 66%;
      height: 66%;
      text-align: center;
      display: block;
      background: rgba(201, 255, 189, 0.56);
      color: #000;
      z-index: 99999;
      font-size: 32px;
      text-transform: uppercase;
      border-radius: 4px;
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.35); }
  .overlay form.campaign-form.failure, .overlay form.organization-form.failure, .overlay form.spot-type-form.failure, .overlay form.region-form.failure {
    position: relative; }
    .overlay form.campaign-form.failure:before, .overlay form.organization-form.failure:before, .overlay form.spot-type-form.failure:before, .overlay form.region-form.failure:before {
      content: 'Please Fill Out All Information';
      position: absolute;
      top: 15%;
      left: 15%;
      padding: 6% 1%;
      width: 66%;
      height: 66%;
      text-align: center;
      display: block;
      background: #FFC9BD;
      color: #000;
      z-index: 99999;
      font-size: 32px;
      text-transform: uppercase;
      border-radius: 4px;
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.35); }
  .overlay form.organization-form.successful:before, .overlay form.spot-type-form.successful:before, .overlay form.region-form.successful:before {
    padding: 3.5%; }
  .overlay form.organization-form.failure, .overlay form.spot-type-form.failure, .overlay form.region-form.failure {
    position: relative; }
    .overlay form.organization-form.failure:before, .overlay form.spot-type-form.failure:before, .overlay form.region-form.failure:before {
      padding: 3.5% 1%; }

.current-spot-types {
  margin: 0;
  padding: 0; }
  .current-spot-types ul {
    list-style: none;
    margin: -15px 0 15px; }
    .current-spot-types ul li {
      padding: 10px 15px;
      margin: 0 -15px;
      background: #ECEDEE;
      border-bottom: 1px solid #cbcbcb; }
      .current-spot-types ul li .action {
        float: right;
        background: #0E690F;
        color: #FFF;
        text-transform: uppercase;
        border-radius: 4px;
        font-weight: 300;
        font-size: 14px;
        padding: 3px 7px;
        margin-left: 10px;
        transition: all .3s; }
        .current-spot-types ul li .action:hover {
          background: #FFF;
          color: #0E690F; }
      .current-spot-types ul li:nth-child(even) {
        background: #FFF; }

.current-regions {
  margin: 0;
  padding: 0; }
  .current-regions ul {
    list-style: none;
    margin: -15px 0 15px; }
    .current-regions ul li {
      padding: 10px 15px;
      margin: 0 -15px;
      background: #ECEDEE;
      border-bottom: 1px solid #cbcbcb; }
      .current-regions ul li .action {
        float: right;
        background: #0E690F;
        color: #FFF;
        text-transform: uppercase;
        border-radius: 4px;
        font-weight: 300;
        font-size: 14px;
        padding: 3px 7px;
        margin-left: 10px;
        transition: all .3s; }
        .current-regions ul li .action:hover {
          background: #FFF;
          color: #0E690F; }
      .current-regions ul li:nth-child(even) {
        background: #FFF; }

.current-organizations {
  margin: 0;
  padding: 0; }
  .current-organizations ul {
    list-style: none;
    margin: -15px 0 15px; }
    .current-organizations ul li {
      padding: 10px 15px;
      margin: 0 -15px;
      background: #ECEDEE;
      border-bottom: 1px solid #cbcbcb; }
      .current-organizations ul li .action {
        float: right;
        background: #0E690F;
        color: #FFF;
        text-transform: uppercase;
        border-radius: 4px;
        font-weight: 300;
        font-size: 14px;
        padding: 3px 7px;
        margin-left: 10px;
        transition: all .3s; }
        .current-organizations ul li .action:hover {
          background: #FFF;
          color: #0E690F; }
      .current-organizations ul li:nth-child(even) {
        background: #FFF; }

.masthead {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 63px;
  height: 100%;
  padding: 0;
  background: #FFF;
  margin: 0;
  text-align: left;
  border-right: 1px solid #cbcbcb;
  overflow: hidden;
  transition: all .3s; }
  .masthead .inner {
    width: 250px; }
  .masthead .masthead-title {
    background: #0E690F;
    color: #FFF;
    font-size: 22px;
    text-transform: uppercase;
    margin: 0;
    padding: 15px 10px;
    font-weight: 300;
    overflow: hidden; }
    .masthead .masthead-title .hamburger {
      background: rgba(0, 0, 0, 0.35);
      width: 40px;
      float: left;
      padding: 5px 10px;
      margin: 1px 15px 0 0;
      border-radius: 4px;
      cursor: pointer; }
      .masthead .masthead-title .hamburger div {
        width: 100%;
        height: 2px;
        background: #FFF;
        margin: 4px 0; }
  .masthead li {
    display: block;
    list-style: none;
    margin: 0; }
    .masthead li .link {
      line-height: 1;
      padding: 15px 10px;
      margin: 0;
      display: block;
      text-transform: uppercase;
      font-size: 14px;
      color: #0E690F;
      border-bottom: 1px solid #cbcbcb;
      transition: all .3s; }
      .masthead li .link i {
        width: 40px;
        text-align: center;
        margin-right: 15px; }
      .masthead li .link:hover {
        background: #ECEDEE; }
  .masthead.show {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 250px;
    height: 100%;
    padding: 0;
    background: #FFF;
    margin: 0;
    text-align: left;
    border-right: 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35); }
    .masthead.show .masthead-title {
      background: #0E690F;
      color: #FFF;
      font-size: 22px;
      text-transform: uppercase;
      margin: 0;
      padding: 15px 10px; }
    .masthead.show li {
      display: block;
      list-style: none;
      margin: 0; }
      .masthead.show li .link {
        line-height: 1;
        padding: 15px 10px;
        margin: 0;
        display: block;
        text-transform: uppercase;
        font-size: 14px;
        color: #0E690F;
        border-bottom: 1px solid #cbcbcb;
        transition: all .3s; }
        .masthead.show li .link:hover {
          background: #ECEDEE; }

.primary-content {
  background: rgba(255, 255, 255, 0.85);
  padding: 15px;
  margin: 15px 0;
  border-radius: 4px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.35);
  overflow: hidden; }
  .primary-content .content-title {
    background: #0E690F;
    color: #FFF;
    text-align: center;
    padding: 15px;
    margin: -15px -15px 15px;
    font-size: 28px;
    text-transform: uppercase; }
  .primary-content .widget-title {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center; }
  .primary-content .misaligned-spots {
    position: relative;
    background: rgba(0, 0, 0, 0.35);
    text-align: left;
    border-radius: 4px;
    color: #FFF;
    overflow: hidden;
    vertical-align: bottom;
    padding: 15px 0;
    margin: 0 0 15px; }
    .primary-content .misaligned-spots .number {
      font-size: 107px;
      color: #FFC9BD;
      padding: 0;
      margin: 0;
      letter-spacing: 0;
      line-height: 1;
      text-align: center;
      display: block; }
  .primary-content .active-buys {
    position: relative;
    background: rgba(0, 0, 0, 0.35);
    text-align: left;
    border-radius: 4px;
    color: #FFF;
    overflow: hidden;
    vertical-align: bottom;
    padding: 15px 0;
    margin: 0 0 15px; }
    .primary-content .active-buys .number {
      font-size: 107px;
      color: #C9FFBD;
      padding: 0;
      margin: 0;
      letter-spacing: 0;
      line-height: 1;
      text-align: center;
      display: block; }
  .primary-content .region-list {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0 15px;
    width: 30%;
    float: left;
    text-align: center;
    border-right: 1px solid #cbcbcb; }
    .primary-content .region-list li {
      display: inline-block;
      list-style: none;
      text-align: center;
      width: 100%;
      margin: 0 0 15px;
      border-radius: 4px;
      color: #FFF;
      background: #0E690F;
      cursor: pointer;
      font-size: 14px;
      text-transform: uppercase;
      padding: 5px 10px;
      border: 2px solid #0E690F;
      transition: all .3s; }
      .primary-content .region-list li:last-child {
        margin: 0; }
      .primary-content .region-list li:hover {
        background: #FFF;
        color: #0E690F; }
  .primary-content .region-campaigns {
    float: right;
    width: 70%;
    padding-left: 15px; }
    .primary-content .region-campaigns .campaigns-title {
      background: #0E690F;
      padding: 10px;
      border-radius: 4px;
      text-align: center;
      font-size: 22px;
      color: #FFF;
      margin-right: 15px;
      text-transform: uppercase; }
    .primary-content .region-campaigns p.align-center {
      background: #ECEDEE;
      border-radius: 4px;
      padding: 10px 15px;
      border: 1px solid #cbcbcb;
      margin-right: 15px; }
    .primary-content .region-campaigns .campaign-list {
      margin: 0 15px 0 0;
      padding: 0;
      width: auto;
      border-radius: 4px;
      background: #ECEDEE;
      list-style: none;
      border: 1px solid #cbcbcb; }
      .primary-content .region-campaigns .campaign-list li {
        overflow: hidden;
        padding: 10px 15px;
        border-bottom: 1px solid #cbcbcb;
        font-size: 14px;
        line-height: 26px; }
        .primary-content .region-campaigns .campaign-list li .actions {
          float: right;
          line-height: 26px;
          font-size: 12px; }
          .primary-content .region-campaigns .campaign-list li .actions a {
            background: #0E690F;
            font-size: 12px;
            text-transform: uppercase;
            color: #FFF;
            padding: 5px 10px;
            margin: 0 0 0 10px;
            border-radius: 4px;
            border: 2px solid #0E690F;
            transition: all .3s; }
            .primary-content .region-campaigns .campaign-list li .actions a:hover {
              color: #0E690F;
              background: #ECEDEE; }
        .primary-content .region-campaigns .campaign-list li:last-child {
          border: 0; }

.button {
  border-radius: 4px;
  background: #0E690F;
  display: block;
  line-height: 1;
  text-transform: uppercase;
  padding: 13px 5px;
  border: 2px solid #0E690F;
  transition: all .3s;
  margin: 0; }
  .button:hover, .button:active, .button:focus {
    background: #FFF;
    color: #0E690F; }
  .button.region-button {
    padding: 5px 10px;
    margin: 0 0 5px;
    font-size: 14px;
    font-weight: 400;
    display: inline-block; }
    .button.region-button:hover {
      background: #ECEDEE; }

.sidebar .section {
  background: rgba(255, 255, 255, 0.85);
  padding: 15px;
  margin: 0 0 15px;
  border-radius: 4px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.35);
  overflow: hidden; }
  .sidebar .section:first-child {
    margin: 15px 0; }

.sidebar .sidebar-title {
  font-size: 28px;
  text-transform: uppercase;
  background: #0E690F;
  color: #FFF;
  margin: -15px -15px 15px;
  padding: 15px; }

.sidebar .organization-list {
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 1;
  overflow: hidden;
  border: 1px solid #9b9b9b;
  border-radius: 4px; }
  .sidebar .organization-list li label {
    margin: 0;
    padding: 15px;
    line-height: 1;
    background: #ECEDEE;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    border-bottom: 1px solid #9b9b9b;
    transition: all .3s; }
    .sidebar .organization-list li label:hover {
      background: #C9FFBD; }
    .sidebar .organization-list li label i {
      font-size: 12px;
      line-height: 18px;
      float: right; }
  .sidebar .organization-list li .region-list {
    background: #ECEDEE;
    list-style: none;
    padding: 10px 15px;
    margin: 0;
    display: none;
    border-bottom: 1px solid #9b9b9b; }
    .sidebar .organization-list li .region-list hr {
      margin: 10px -15px 15px; }
    .sidebar .organization-list li .region-list li {
      margin: 0 -15px;
      padding: 5px 15px;
      cursor: pointer; }
  .sidebar .organization-list li:last-child label {
    border-bottom: 0; }
  .sidebar .organization-list li:last-child .region-list {
    border-top: 1px solid #9b9b9b;
    border-bottom: 0; }

.sidebar .sidebar-list {
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 1;
  overflow: hidden;
  border: 1px solid #9b9b9b;
  border-radius: 4px; }
  .sidebar .sidebar-list li label {
    margin: 0;
    padding: 15px;
    background: #ECEDEE;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    border-bottom: 1px solid #9b9b9b;
    transition: all .3s; }
    .sidebar .sidebar-list li label:hover {
      background: #C9FFBD; }
    .sidebar .sidebar-list li label i {
      font-size: 12px;
      line-height: 18px;
      float: right; }
  .sidebar .sidebar-list li:last-child label {
    border-bottom: 0; }
  .sidebar .sidebar-list li:last-child .region-list {
    border-top: 1px solid #9b9b9b;
    border-bottom: 0; }

.form-wrapper .form-title-wrapper {
  background: #0E690F;
  text-align: center;
  margin: -15px -30px 15px;
  padding: 15px;
  text-transform: uppercase; }
  .form-wrapper .form-title-wrapper .form-title {
    color: #FFF;
    margin: 0; }

.form-wrapper .input-group {
  margin-bottom: 5px;
  overflow: hidden; }
  .form-wrapper .input-group label {
    background: #ECEDEE;
    border-radius: 4px;
    float: left;
    margin: 0 10px 10px 0;
    padding: 10px 10px 8px;
    line-height: 1px; }
  .form-wrapper .input-group input {
    position: relative;
    top: -1px;
    margin: 0; }

.form-wrapper .login-form {
  background: rgba(255, 255, 255, 0.85);
  padding: 15px;
  border-radius: 4px;
  margin: 60px 0;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.35);
  overflow: hidden; }

.form-wrapper label {
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 15px 0; }

.form-wrapper .form-control,
.form-wrapper select {
  margin: 5px 0 0 0;
  box-shadow: none;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  background: #FFF;
  color: #0E690F;
  outline: none;
  transition: all .3s; }
  .form-wrapper .form-control:focus,
  .form-wrapper select:focus {
    border: 1px solid #0E690F;
    box-shadow: 0 0 10px 0 #C9FFBD;
    background: #FFF; }
  .form-wrapper .form-control[readonly],
  .form-wrapper select[readonly] {
    background: #ECEDEE;
    box-shadow: none;
    border: 1px solid #cbcbcb; }
    .form-wrapper .form-control[readonly]:focus,
    .form-wrapper select[readonly]:focus {
      box-shadow: none;
      background: #ECEDEE; }
  .form-wrapper .form-control[type=file],
  .form-wrapper select[type=file] {
    padding: 10px; }

.form-wrapper .form-button {
  width: 100%;
  display: block;
  background: #0E690F;
  color: #FFF;
  padding: 10px;
  line-height: 1;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #0E690F;
  outline: none;
  border-radius: 4px;
  transition: all .3s; }
  .form-wrapper .form-button:hover {
    background: #FFF;
    color: #0E690F; }

.form-wrapper .label-row label {
  margin-bottom: 0; }

.form-wrapper .file-row {
  margin-bottom: 15px; }
  .form-wrapper .file-row .columns {
    float: left !important; }
  .form-wrapper .file-row .form-control {
    margin-bottom: 0; }

.site-content h2.sub-title {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  background: #ECEDEE;
  border-bottom: 1px solid #cbcbcb;
  margin: -15px -15px 15px -15px;
  padding: 15px; }

.site-content .breakdown-wrapper .run-dates {
  background: #ECEDEE;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 15px; }
  .site-content .breakdown-wrapper .run-dates hr {
    margin: 10px 0; }
  .site-content .breakdown-wrapper .run-dates .label-main {
    background: transparent;
    font-size: 16px;
    font-weight: 300;
    min-width: 110px;
    display: inline-block;
    text-align: left;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000; }
  .site-content .breakdown-wrapper .run-dates:last-child {
    margin-bottom: 0; }

.site-content .breakdown-wrapper .spot-count {
  background: #ECEDEE;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 15px; }
  .site-content .breakdown-wrapper .spot-count .title {
    text-transform: uppercase;
    border-bottom: 1px solid #cbcbcb;
    font-weight: 400;
    text-align: center;
    margin: -15px -15px 15px -15px;
    padding: 5px; }
  .site-content .breakdown-wrapper .spot-count.spot-valid .title {
    background: #C9FFBD; }
  .site-content .breakdown-wrapper .spot-count.spot-invalid .title {
    background: #FFC9BD; }
  .site-content .breakdown-wrapper .spot-count .count {
    font-size: 64px;
    font-weight: bold;
    line-height: 75px;
    margin: 0;
    text-align: center; }

.site-content .breakdown-wrapper .invoice-table {
  border-radius: 4px;
  overflow: hidden;
  padding: 15px; }
  .site-content .breakdown-wrapper .invoice-table .invoice-section-information {
    background: #0E690F;
    color: #FFF;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px; }
    .site-content .breakdown-wrapper .invoice-table .invoice-section-information:first-child {
      margin-top: -15px;
      border-top: 0; }
  .site-content .breakdown-wrapper .invoice-table .invoice-row-headers {
    background: #ECEDEE;
    padding: 5px 0;
    border: 1px solid #cbcbcb;
    border-bottom: 0;
    border-top: 0; }
    .site-content .breakdown-wrapper .invoice-table .invoice-row-headers .columns {
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 2px;
      text-transform: uppercase; }
  .site-content .breakdown-wrapper .invoice-table .invoice-row-info {
    padding: 5px 0;
    border: 1px solid #cbcbcb;
    border-bottom: 0; }
    .site-content .breakdown-wrapper .invoice-table .invoice-row-info:nth-child(even) {
      background: #ECEDEE; }
    .site-content .breakdown-wrapper .invoice-table .invoice-row-info .columns {
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 2px;
      text-transform: uppercase; }
    .site-content .breakdown-wrapper .invoice-table .invoice-row-info:last-child {
      margin-bottom: -15px;
      border-bottom: 1px solid #cbcbcb; }
