/**
 * Color Variables
 */
$white: #FFF;
$off-white: #ECEDEE;
$lighter-grey: #cbcbcb;
$grey: #9b9b9b;
$darker-grey: #6b6b6b;
$lighter-black: #3b3b3b;
$black: #000;

$alpha-white: rgba(255,255,255,.85);
$alpha-black: rgba(00,00,00,.35);
$highlight-light-alpha: rgba(201,255,189,0.56);
$highlight-light-error-alpha: rgba(255, 201, 189, 0.80);
$overlay-black: rgba(00,00,00,.75);

$highlight-light: #C9FFBD;
$highlight-dark: #0E690F;
$highlight-light-error: #FFC9BD;

/**
 * CSS Value Variables
 */
$border-radius: 4px;
$wsHeight: 60px;
$shadowSize: 25px;

/**
 * Global Styles
 */
body {
  background: $lighter-grey url('/assets/img/background.png') fixed;
  font-family: 'Helvetica Neue', 'Segoe UI', 'Arial', 'Helvetica', sans-serif;
  transition: all .3s;
  &.add-padding {
    padding: 0 0 0 63px;
  }
}

div {
  font-family: 'Helvetica Neue', 'Segoe UI', 'Arial', 'Helvetica', sans-serif;
}

.site-content {
  .row {
    max-width: none;
  }
  hr {
    margin: 0 -30px 15px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 32px;
    font-weight: 300;
    line-height: 1;
    margin: 0 0 15px;
    letter-spacing: 2px;
  }

  p,
  li,
  a,
  label{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
  }
  .align-center {
    text-align: center;
  }
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $darker-grey;
  border: 2px solid $white;
  border-radius: $border-radius;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $highlight-dark;
  border: 2px solid $white;
  border-radius: $border-radius;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $lighter-black;
}

/* Corner Styles */
::-webkit-scrollbar-corner {
  background: $white;
}

/**
 * Imports
 */
@import "frontend/campaigns";
@import "frontend/spotTypes";
@import "frontend/regions";
@import "frontend/organizations";
@import "frontend/nav";
@import "frontend/primary";
@import "frontend/widgets";
@import "frontend/sidebar";
@import "frontend/forms";
@import "frontend/invoices";
@import "frontend/404.scss";