{% if regions is empty %}
    <p class="align-center">There Are No Regions</p>
{% else %}
    <ul class="region-list">
        {% for region in regions %}
            <li data-id="{{ region.id }}">{{ region.name }}</li>
        {% endfor %}
    </ul>
{% endif %}

<hr />

<div class="region-information"></div>