.current-campaigns {
  margin: 0;
  padding: 0;
  ul {
    list-style: none;
    margin: -15px 0 15px;
    li {
      padding: 10px 15px;
      margin: 0 -15px;
      background: $off-white;
      border-bottom: 1px solid $lighter-grey;
      .actions,
      .tags {
        float: right;
        label {
          display: inline;
          font-size: 14px;
          line-height: 28px;
          text-transform: uppercase;
        }
      }
      .action {
        margin-left: 10px;
        float: right;
        background: $highlight-dark;
        color: $white;
        text-transform: uppercase;
        border-radius: $border-radius;
        font-weight: 300;
        font-size: 14px;
        padding: 3px 7px;
        transition: all .3s;
        &:hover {
          background: $white;
          color: $highlight-dark;
        }
      }
      .tag {
        margin-left: 10px;
        float: right;
        background: $highlight-light;
        color: $highlight-dark;
        text-transform: uppercase;
        border-radius: $border-radius;
        font-weight: 300;
        font-size: 14px;
        padding: 3px 7px;
        transition: all .3s;
      }
      .divider {
        height: 28px;
        width: 1px;
        displaY: block;
        float: right;
        background: $lighter-grey;
        margin: 0 10px;
      }
      &:nth-child(even) {
        background: $white;
      }
    }
  }
}

.current-worksheets {
  margin: 0;
  padding: 0;
  ul {
    list-style: none;
    margin: -15px 0 15px;
    li {
      .identifier-bar {
        padding: 10px 15px;
        margin: 0 -15px;
        background: $off-white;
        border-bottom: 1px solid $lighter-grey;
      }
      .worksheet-name {
        position: relative;
        top: 3px;
        text-transform: uppercase;
        font-size: 24px;
        margin: 0;
        display: inline-block;
        line-height: 19px;
      }
      .week-information {
        border-bottom: 1px solid $lighter-grey;
        margin: 0 -15px;
        padding: 15px;
        .week-title {
          font-size: 20px;
          font-weight: 400;
          text-transform: uppercase;
        }
        .sub-title {
          font-size: 16px;
          text-transform: uppercase;
        }
        .info-inner {
          position: relative;
          background: $off-white;
          border-radius: $border-radius;
          border: 1px solid $lighter-grey;
          overflow: hidden;
          &.loading {
            &:before {
              content: 'Sending Save Request';
              position: absolute;
              top: 15%;
              left: 15%;
              padding: 4%;
              width: 66%;
              height: 66%;
              display: block;
              text-align: center;
              background: $alpha-black;
              color: $white;
              z-index: 99999;
              font-size: 32px;
              text-transform: uppercase;
              border-radius: $border-radius;
              box-shadow: 0 0 $shadowSize 0 $alpha-black;
            }
          }
          &.success {
            &:before {
              content: 'Save Successful';
              position: absolute;
              top: 15%;
              left: 15%;
              padding: 4%;
              width: 66%;
              height: 66%;
              text-align: center;
              display: block;
              background: $highlight-light-alpha;
              color: $black;
              z-index: 99999;
              font-size: 32px;
              text-transform: uppercase;
              border-radius: $border-radius;
              box-shadow: 0 0 $shadowSize 0 $alpha-black;
            }
          }
          &.failure {
            &:before {
              content: 'Save Failed';
              position: absolute;
              top: 15%;
              left: 15%;
              padding: 4%;
              width: 66%;
              height: 66%;
              text-align: center;
              display: block;
              background: $highlight-light-error;
              color: $black;
              z-index: 99999;
              font-size: 32px;
              text-transform: uppercase;
              border-radius: $border-radius;
              box-shadow: 0 0 $shadowSize 0 $alpha-black;
            }
          }
          .outer-scrollable {
            overflow-x: scroll;
          }
          .spot-count {
            border-right: 1px solid $lighter-grey;
            width: 240px !important;
          }
          .spot-column {
            float: left;
            width: 170px;
            padding: 10px;
            .spot-count-heading {
              background: $highlight-light;
              text-align: center;
              margin: -10px -10px 10px;
              padding: 10px;
            }
            .spot-date-heading {
              background: $alpha-black;
              color: $white;
              text-align: center;
              margin: -10px -10px 10px;
              padding: 10px;
            }
            &:nth-child(even) {
              background: $lighter-grey;
            }
            .update-week-information {
              padding: 5px;
              margin-top: 10px;
            }
            .week-total {
              text-align: center;
              font-size: 14px;
              text-transform: uppercase;
              margin-top: 5px;
            }
          }
          .spot-date-total {
            p {
              text-align: left;
              line-height: 1.25;
              font-size: 12px;
              text-transform: uppercase;
              font-weight: 300;
              color: $darker-grey;
              margin: 5px 0 0;
              padding: 10px;
              border-radius: $border-radius;
              border: 1px solid $lighter-grey;
              background: $white;
              strong {
                min-width: 75px;
                display: inline-block;
              }
              span {
                font-weight: 800;
                color: $black;
                &.days {
                  font-weight: 300;
                  letter-spacing: 0;
                  text-transform: capitalize;
                  color: $darker-grey;
                }
              }
            }
          }
          .spot-date-input {
            input {
              background: $highlight-light;
              text-align: center;
              color: $black;
              height: auto;
              line-height: 79px;
              font-size: 42px;
            }
            &:last-child {
              padding-bottom: 27px;
            }
          }
        }
      }
      .actions,
      .tags {
        float: right;
        label {
          display: inline;
          font-size: 14px;
          line-height: 28px;
          text-transform: uppercase;
        }
      }
      .action {
        margin-left: 10px;
        float: right;
        background: $highlight-dark;
        color: $white;
        text-transform: uppercase;
        border-radius: $border-radius;
        font-weight: 300;
        font-size: 14px;
        padding: 3px 7px;
        transition: all .3s;
        &:hover {
          background: $white;
          color: $highlight-dark;
        }
      }
      .tag {
        margin-left: 10px;
        float: right;
        background: $highlight-light;
        color: $highlight-dark;
        text-transform: uppercase;
        border-radius: $border-radius;
        font-weight: 300;
        font-size: 14px;
        padding: 3px 7px;
        transition: all .3s;
      }
      .divider {
        height: 28px;
        width: 1px;
        displaY: block;
        float: right;
        background: $lighter-grey;
        margin: 0 10px;
      }
    }
  }
}

.current-programs {
  margin: 0;
  padding: 0;
  ul {
    list-style: none;
    margin: -15px 0 15px;
    li {
      padding: 10px 15px;
      margin: 0 -15px;
      background: $off-white;
      border-bottom: 1px solid $lighter-grey;
      overflow: hidden;
      .actions,
      .tags {
        float: right;
        label {
          display: inline;
          font-size: 14px;
          line-height: 28px;
          text-transform: uppercase;
        }
      }
      .action {
        margin-left: 10px;
        float: right;
        background: $highlight-dark;
        color: $white;
        text-transform: uppercase;
        border-radius: $border-radius;
        font-weight: 300;
        font-size: 14px;
        padding: 3px 7px;
        transition: all .3s;
        &:hover {
          background: $white;
          color: $highlight-dark;
        }
      }
      .tag {
        margin-left: 10px;
        float: right;
        background: $highlight-light;
        color: $highlight-dark;
        text-transform: uppercase;
        border-radius: $border-radius;
        font-weight: 300;
        font-size: 14px;
        padding: 3px 7px;
        transition: all .3s;
      }
      .divider {
        height: 28px;
        width: 1px;
        displaY: block;
        float: right;
        background: $lighter-grey;
        margin: 0 10px;
      }
      &:nth-child(even) {
        background: $white;
      }
      .info {
        margin-bottom: 15px;
        overflow: hidden;
        float: left;
        span {
          font-size: 14px;
          letter-spacing: 0;
          color: $black;
          &.program-name {
            text-transform: uppercase;
            float: left;
            padding: 5px 0;
            display: block;
            line-height: 1;
            margin: 5px 0 0 0;
            min-width: 300px;
          }
          &.day-part {
            min-width: 90px;
          }
          &.station {
            min-width: 74px;
          }
          &.network {
            min-width: 80px;
          }
          &.program {
            min-width: 90px;
          }
          &.times {
            min-width: 190px;
          }
          &.length {
            min-width: 80px;
          }
          &.rate {
            min-width: 100px;
          }
          &.day-part,
          &.station,
          &.network,
          &.program,
          &.times,
          &.length,
          &.rate {
            text-align: center;
            float: right;
            background: $highlight-light;
            color: $black;
            padding: 5px 7px;
            display: block;
            line-height: 1;
            margin: 5px 0 0 10px;
            border-radius: $border-radius;
            .divider {
              height: 10px;
              width: 1px;
              displaY: inline-block;
              float: none;
              background: $highlight-dark;
              margin: 0;
            }
            span {
              color: $black;
            }
          }
        }
      }
      .actions {
        float: left;
        .divider {
          margin: 2px 10px;
        }
        .button {
          margin: 5px 0;
        }
      }
      .comments {
        background: $highlight-light;
        border-radius: $border-radius;
        padding: 10px;
        margin-bottom: 5px;
        clear: both;
        .comments-title {
          text-transform: uppercase;
          font-size: 24px;
          color: $black;
        }
        p {
          margin: 0;
          color: $highlight-dark;
          font-size: 14px;
        }
      }
      &.headings {
        background: $highlight-light;
        .info {
          margin-bottom: 0;
          overflow: hidden;
          span {
            margin: 0 0 0 10px;
            &.program-name {
              text-transform: uppercase;
              float: left;
              padding: 5px 0;
              display: block;
              line-height: 1;
              margin: 0;
            }
            &.day-part,
            &.station,
            &.network,
            &.program,
            &.times,
            &.length,
            &.rate {
              background: $white;
              color: $highlight-dark;
              .divider {
                height: 10px;
                width: 1px;
                displaY: inline-block;
                float: none;
                background: $highlight-dark;
                margin: 0;
              }
              span {
                color: $highlight-dark;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}