.site-content {
  h2 {
    &.sub-title {
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      background: $off-white;
      border-bottom: 1px solid $lighter-grey;
      margin: -15px -15px 15px -15px;
      padding: 15px;
    }
  }

  .breakdown-wrapper {
    .run-dates {
      background: $off-white;
      border: 1px solid $lighter-grey;
      border-radius: $border-radius;
      margin-bottom: 15px;
      padding: 15px;
      hr {
        margin: 10px 0;
      }
      .label-main {
        background: transparent;
        font-size: 16px;
        font-weight: 300;
        min-width: 110px;
        display: inline-block;
        text-align: left;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $black;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .spot-count {
      background: $off-white;
      border: 1px solid $lighter-grey;
      border-radius: $border-radius;
      padding: 15px;
      margin-bottom: 15px;
      .title {
        text-transform: uppercase;
        border-bottom: 1px solid $lighter-grey;
        font-weight: 400;
        text-align: center;
        margin: -15px -15px 15px -15px;
        padding: 5px;
      }
      &.spot-valid {
        .title {
          background: $highlight-light;
        }
      }
      &.spot-invalid {
        .title {
          background: $highlight-light-error;
        }
      }
      .count {
        font-size: 64px;
        font-weight: bold;
        line-height: 75px;
        margin: 0;
        text-align: center;
      }
    }
    .invoice-table {
      border-radius: $border-radius;
      overflow: hidden;
      padding: 15px;
      .invoice-section-information {
        background: $highlight-dark;
        color: $white;
        text-align: center;
        padding: 5px;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;
        &:first-child {
          margin-top: -15px;
          border-top: 0;
        }
      }
      .invoice-row-headers {
        background: $off-white;
        padding: 5px 0;
        border: 1px solid $lighter-grey;
        border-bottom: 0;
        border-top: 0;
        .columns {
          font-weight: 600;
          font-size: 14px;
          letter-spacing: 2px;
          text-transform: uppercase;
        }
      }
      .invoice-row-info {
        padding: 5px 0;
        border: 1px solid $lighter-grey;
        border-bottom: 0;
        &:nth-child(even) {
          background: $off-white;
        }
        .columns {
          font-weight: 400;
          font-size: 14px;
          letter-spacing: 2px;
          text-transform: uppercase;
        }
        &:last-child {
          margin-bottom: -15px;
          border-bottom: 1px solid $lighter-grey;
        }
      }
    }
  }
}