.primary-content {
  background: $alpha-white;
  padding: 15px;
  margin: 15px 0;
  border-radius: $border-radius;
  box-shadow: 0 0 $shadowSize 0 $alpha-black;
  overflow: hidden;
  .content-title {
    background: $highlight-dark;
    color: $white;
    text-align: center;
    padding: 15px;
    margin: -15px -15px 15px;
    font-size: 28px;
    text-transform: uppercase;
  }
  .widget-title {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
  }
  .misaligned-spots {
    position: relative;
    background: $alpha-black;
    text-align: left;
    border-radius: $border-radius;
    color: $white;
    overflow: hidden;
    vertical-align: bottom;
    padding: 15px 0;
    margin: 0 0 15px;
    .number {
      font-size: 107px;
      color: $highlight-light-error;
      padding: 0;
      margin: 0;
      letter-spacing: 0;
      line-height: 1;
      text-align: center;
      display: block;
    }
  }
  .active-buys {
    position: relative;
    background: $alpha-black;
    text-align: left;
    border-radius: $border-radius;
    color: $white;
    overflow: hidden;
    vertical-align: bottom;
    padding: 15px 0;
    margin: 0 0 15px;
    .number {
      font-size: 107px;
      color: $highlight-light;
      padding: 0;
      margin: 0;
      letter-spacing: 0;
      line-height: 1;
      text-align: center;
      display: block;
    }
  }
  .region-list {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0 15px;
    width: 30%;
    float: left;
    text-align: center;
    border-right: 1px solid $lighter-grey;
    li {
      display: inline-block;
      list-style: none;
      text-align: center;
      width: 100%;
      margin: 0 0 15px;
      border-radius: $border-radius;
      color: $white;
      background: $highlight-dark;
      cursor: pointer;
      font-size: 14px;
      text-transform: uppercase;
      padding: 5px 10px;
      border: 2px solid $highlight-dark;
      transition: all .3s;
      &:last-child {
        margin: 0;
      }
      &:hover {
        background: $white;
        color: $highlight-dark;
      }
    }
  }
  .region-campaigns {
    float: right;
    width: 70%;
    padding-left: 15px;
    .campaigns-title {
      background: $highlight-dark;
      padding: 10px;
      border-radius: $border-radius;
      text-align: center;
      font-size: 22px;
      color: $white;
      margin-right: 15px;
      text-transform: uppercase;
    }
    p {
      &.align-center {
        background: $off-white;
        border-radius: $border-radius;
        padding: 10px 15px;
        border: 1px solid $lighter-grey;
        margin-right: 15px;
      }
    }
    .campaign-list {
      margin: 0 15px 0 0;
      padding: 0;
      width: auto;
      border-radius: $border-radius;
      background: $off-white;
      list-style: none;
      border: 1px solid $lighter-grey;
      li {
        overflow: hidden;
        padding: 10px 15px;
        border-bottom: 1px solid $lighter-grey;
        font-size: 14px;
        line-height: 26px;
        .actions {
          float: right;
          line-height: 26px;
          font-size: 12px;
          a {
            background: $highlight-dark;
            font-size: 12px;
            text-transform: uppercase;
            color: $white;
            padding: 5px 10px;
            margin: 0 0 0 10px;
            border-radius: $border-radius;
            border: 2px solid $highlight-dark;
            transition: all .3s;
            &:hover {
              color: $highlight-dark;
              background: $off-white;
            }
          }
        }
        &:last-child {
          border: 0;
        }
      }
    }
  }
}

@media(max-width: 639px) {
  .primary-content {
    .region-list {
      width: 100%;
      border: 0;
      border-bottom: 1px solid $lighter-grey;
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
    .region-campaigns {
      width: 100%;
      .campaign-list {
        li {
          text-align: center;
          .actions {
            margin-top: 5px;
            float: none;
            display: block;
            width: 100%;
            a {
              display: inline-block;
              padding: 0 7px;
              margin: 0px 2px;
            }
          }
        }
      }
    }
  }
}