.sidebar {
  .section {
    background: $alpha-white;
    padding: 15px;
    margin: 0 0 15px;
    border-radius: $border-radius;
    box-shadow: 0 0 $shadowSize 0 $alpha-black;
    overflow: hidden;
    &:first-child {
      margin: 15px 0;
    }
  }
  .sidebar-title {
    font-size: 28px;
    text-transform: uppercase;
    background: $highlight-dark;
    color: $white;
    margin: -15px -15px 15px;
    padding: 15px;
    .refresh-button {
      float: right;
      display: block;
      background: $alpha-black;
      border: 2px solid $alpha-black;
      border-radius: 4px;
      padding: 10px 12px;
      font-size: 20px;
      margin: -8px;
      cursor: pointer;
      i {
        transform: rotate(0deg);
        transition: all .5s;
      }
      &:hover {
        i {
          transform: rotate(180deg);
        }
      }
    }
  }
  .organization-list {
    list-style: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 1;
    overflow: hidden;
    border: 1px solid $grey;
    border-radius: $border-radius;
    &.loading {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: $alpha-white;
        display: block;
      }
      &:after {
        content: "Loading Organiations...";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        padding: 20px;
        text-align: center;
        font-size: 18px;
        display: block;
        transform: translateX(-50%) translateY(-50%);
      }
    }
    li {
      label {
        margin: 0;
        padding: 15px;
        background: $off-white;
        color: $black;
        cursor: pointer;
        font-size: 14px;
        line-height: 18px;
        border-bottom: 1px solid $grey;
        transition: all .3s;
        &:hover {
          background: $highlight-light;
        }
        i {
          font-size: 12px;
          line-height: 18px;
          float: right;
        }
      }
      .region-list {
        background: $off-white;
        list-style: none;
        padding: 10px 15px;
        margin: 0;
        display: none;
        border-bottom: 1px solid $grey;
        hr {
          margin: 10px -15px 15px;
        }
        li {
          margin: 0 -15px;
          padding: 5px 15px;
          cursor: pointer;
        }
      }
      &:last-child {
        label {
          border-bottom: 0;
        }
        .region-list {
          border-top: 1px solid $grey;
          border-bottom: 0;
        }
      }
    }
  }
  .sidebar-list {
    list-style: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 1;
    overflow: hidden;
    border: 1px solid $grey;
    border-radius: $border-radius;
    li {
      label {
        margin: 0;
        padding: 15px;
        background: $off-white;
        color: $black;
        cursor: pointer;
        font-size: 14px;
        line-height: 18px;
        border-bottom: 1px solid $grey;
        transition: all .3s;
        &:hover {
          background: $highlight-light;
        }
        i {
          font-size: 12px;
          line-height: 18px;
          float: right;
        }
      }
      &:last-child {
        label {
          border-bottom: 0;
        }
        .region-list {
          border-top: 1px solid $grey;
          border-bottom: 0;
        }
      }
    }
  }
}