{% extends 'base.html.twig' %}
{% block title %}
    Invoices - Media Manager
{% endblock %}
{% block body %}

    <div class="container row">
        <div class="columns large-12 medium-12 small-12">
            <div class="primary-content">
                <h1 class="content-title">Invoice Processor</h1>
                <div class="form-wrapper">
                    <form action="/process-invoice" method="post" class="invoice-form">
                        <div class="row">
                            <div class="columns large-4 medium-4 small-12">
                                <label>Select Organization *
                                    <select name="organizations" id="organizations"
                                            class="form-control organizations">
                                        <option value="">Select Organization</option>
                                        {% for organization in organizations %}
                                            <option value="{{ organization.id }}">{{ organization.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                            <div class="columns large-4 medium-4 small-12">
                                <label>Select Region *
                                    <select name="regions" id="regions" class="form-control regions">
                                        <option value="">Select Organization</option>
                                    </select>
                                </label>
                            </div>
                            <div class="columns large-4 medium-4 small-12">
                                <label>Select Campaign *
                                    <select name="campaigns" id="campaigns" class="form-control campaigns">
                                        <option value="">Select Region</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

