{% extends 'base.html.twig' %}

{% block body %}
    <div class="container row">
        <div class="columns large-3 medium-4 small-12">
            <div class="sidebar">
                <h2 class="sidebar-title">Organizations</h2>
            </div>
        </div>
        <div class="columns large-9 medium-8 small-12">
            <div class="primary-content">
                <div class="row">
                    <div class="columns large-6 medium-6 small-12">
                        <div class="misaligned-spots">
                            <span class="number">
                                0
                            </span> Spots
                        </div>
                    </div>
                    <div class="columns large-6 medium-6 small-12">
                        <div class="active-buys">
                            <span class="number">
                                12
                            </span> Active Buys
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

