{% extends 'base.html.twig' %}
{% block title %}
    Media Manager Dashboard
{% endblock %}
{% block body %}
    <div class="container row">
        <div class="columns large-4 medium-4 small-12">
            <div class="sidebar">
                <div class="section">
                    <h2 class="sidebar-title">Organizations</h2>
                    <div class="actionable">
                        {% if organizations is empty %}
                            <p>There are no organizations</p>
                        {% else %}
                            <ul class="organization-list">
                                {% for organization in organizations %}
                                    <li><label data-id="{{ organization.id }}" data-name="{{ organization.name }}">{{ organization.name }} <i class="fa fa-chevron-right"></i></label></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="section">
                    <h2 class="sidebar-title">Management</h2>
                    <ul class="sidebar-list">
                        <li><label>Create Campaign</label></li>
                        <li><label>Create Organization</label></li>
                        <li><label>Create Spot Type</label></li>
                        <li><label>Create Region</label></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="columns large-8 medium-8 small-12">
            <div class="primary-content">
                <div class="row">
                    <div class="region-information">
                        <h1 class="content-title">
                            Available Regions
                        </h1>
                        <p class="align-center">Please select an organization.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

