{% extends 'base.html.twig' %}

{% block body %}
    <div class="container row">
        <div class="columns large-4 medium-4 small-12">
            <div class="sidebar">
                <div class="section">
                    <h2 class="sidebar-title">Organizations</h2>
                    <div class="actionable">
                        {% if organizations is empty %}
                            <p>There are no organizations</p>
                        {% else %}
                            <ul class="organization-list">
                                {% for organization in organizations %}
                                    <li><label data-id="{{ organization.id }}">{{ organization.name }} <i class="fa fa-chevron-right"></i></label></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="section">
                    <h2 class="sidebar-title">Spot Types</h2>
                    <div class="actionable">
                        <ul class="spot-type-list">
                            {% for type in types %}
                                <li><label>{{ type.name }} <i
                                                class="fa fa-chevron-right"></i></label></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns large-8 medium-8 small-12">
            <div class="primary-content">
                <h1 class="content-title">Advertising Overview</h1>
                <div class="row">
                    <div class="columns large-6 medium-6 small-12">
                        <h3 class="widget-title">Bad Spots</h3>
                        <div class="misaligned-spots">
                            <span class="number">0</span>
                        </div>
                    </div>
                    <div class="columns large-6 medium-6 small-12">
                        <h3 class="widget-title">Active Buys</h3>
                        <div class="active-buys">
                            <span class="number">12</span>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="region-information">
                        <h1 class="content-title">
                            Available Regions
                        </h1>
                        <p class="align-center">Please select an organization.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

